extends layout

block content

    h1 #{title}
    
    

    form(method='POST', action="https://p-y.tm/rg-wvqT")
        #form-group
            label Name 1:
            input.form-control(name='name1', type='text')
        
        #form-group
            label Name 2:
            input.form-control(name='name2', type='text')

        #form-group
            label Name 3:
            input.form-control(name='name3', type='text')

        #form-group
            label Name 4:
            input.form-control(name='name4', type='text')        
        
        br
        input.btn.btn-primary(type='submit', value='Submit')