extends layout

block content

    h1 Edit Games
    form(method='POST', action="/articles/edit/"+ article._id)
    
        #form-group
            label Title:
            input.form-control(name='title', type='text', value = article.title)
        #form-group
            label Author:
            input.form-control(name='author', type='text', value= article.author)
        #form-group
            label Description:
            input.form-control(name='description', type='text', value= article.description)
        #form-group
            label Map:
        #form-group
            input.form-control(name='map', type='text', value= article.map)
            label Time:
            input.form-control(name='time', type='text', value= article.time)
        #form-group
            label Entry Fees:
            input.form-control(name='fees', type='text', value= article.fees)
        
            br
        input.btn.btn-primary(type='submit', value='Submit')